<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=devapidb.cloudapp.net\feuerbach,1984;Initial Catalog=ufo_dev;User Id=ufo_user;Password=Popov2010;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
