<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${machinename} ${longdate} ${uppercase:${level}} ${message}">
    </target>
    <target xsi:type="Mail" name="MailTarget" html="true" subject="API ERROR - UFO" body="${machinename}|${message}"
        layout="${machinename}|${longdate}|${level:uppercase=true}|${logger}|${message}|${callsite}"
        to="errors@hackandcraft.com"
        from="errors@hackandcraft.com"
        smtpAuthentication="Basic"
        smtpUserName="errors@hackandcraft.com"
        smtpPassword="Popov2010"
        smtpServer="smtp.googlemail.com"
        enableSsl="true"
        smtpPort="25" />


  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="f" />
    <logger name="*" minlevel="Error" writeTo="MailTarget" />


  </rules>
</nlog>